# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/DSLib/.vs/DSLib/v15
/DSLib/Client/BST/Debug
/DSLib/Debug
/DSLib/Lib/BST/Debug
/DSLib/Client/BinaryTree/x64/Debug
/DSLib/Lib/BinaryTree/Debug
/DSLib/Lib/BinaryTree/x64/Debug
/DSLib/x64/Debug
/DSLib/Client/BinaryTree/Debug
/DSLib/Lib/BST/x64/Debug
/DSLib/Test/BinaryTree/Debug
/DSLib/Client/BinaryTree/Release
/DSLib/Client/BinaryTree/x64/Release
/DSLib/Lib/BinaryTree/Release
/DSLib/Lib/BinaryTree/x64/Release
/DSLib/Lib/BST/Release
/DSLib/Lib/BST/x64/Release
/DSLib/Release
/DSLib/Test/BinaryTree/Release
/DSLib/Test/BinaryTree/x64/Release
/DSLib/Test/BinaryTree/x64/Debug
/DSLib/Client/BST/Release
/DSLib/Test/BST/Debug
/DSLib/Client/BST/x64/Debug
/DSLib/Test/BST/x64/Debug
/DSLib/Client/AVL/Debug
/DSLib/Lib/AVL/Debug
/DSLib/Test/AVL/Debug
/DSLib/Lib/Tree/Debug
/DSLib/Client/UFDS/Debug
/DSLib/Lib/UFDS/Debug
/DSLib/Test/UFDS/Debug
/DSLib/Lib/SegmentTree/Debug
/DSLib/Client/SegmentTree/Debug
/DSLib/Test/SegmentTree/Debug
/DSLib/Deps
/DSLib/out
/DSLib/Client/FenwickTree/Debug
/DSLib/Lib/FenwickTree/Debug
